[GL]
AllowTextureAllocInBind = 1
AndroidSurfaceHolder = 1
EGL_RED_SIZE=8
EGL_GREEN_SIZE=8
EGL_BLUE_SIZE=8
EGL_DEPTH_SIZE=24
[S3E]
SysStackSize=65536
MemSize0=450000000 # 450MB
MemSize1=23000000 # 512*512 * 3 * (7 * 4) plus 1MB safety - that's 3 terrain size * size of Vertex
MemSizeDebug=268435456 # 256MB
MemSizeDebugDevice=268435456 # 256MB
AccelDampingFactor=30
SoundStereo = 1 # Allow use of stereo mixing and output if supported by device
AndroidFileUseSdcard = 1 # Write configs etc to SD card if possible
DispFixRot=Landscape
# If you get crashes on startup, try different combinations of Gles version (either 1 or 2) and the directory (angle, pvr or pvr3). Try (in order)
# dir = angle, gl = 2
# dir = pvr3, gl = 1
# dir = pvr, gl = 1
# dir = pvr3, gl = 2
# dir = pvr, gl = 2
# dir = angle, gl = 1
SysGlesDirectory=angle
SysGlesVersion=2
IOSDispScaleFactor=200
WinResizable=1
WinAllowAltEnter=1
# Modify the initial window position and size here
WinPosX=0
WinPosY=0
WinWidth=800
WinHeight=600
[UTIL]
MemMgrMaxAllocWarning=0
[GX]
DataCacheSize=655360
VertCacheSize=8192
Rasterisation=HW
Transform=HW
[GXFONT]
CacheTextureMaxSize=1024
[PICASIM]
EnablePVRVFrame=0
[TRACE]
PICASIM_VERBOSE=0
JOYSTICK_VERBOSE=0
GL=1
GL_VERBOSE=1
GX_FONT=1
GX_VERBOSE=1
IW_GL_VERBOSE=0
IW_GL_API=0
[s3e]
SysAppVersion=1.0.870
SysAppCaption="PicaSim"
SplashScreenFile=s3e_splash.jpg
SplashScreenWidth=320
SplashScreenHeight=320
SplashScreenBkR=0x00
SplashScreenBkG=0x00
SplashScreenBkB=0x00
