# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[GL]
AllowTextureAllocInBind = 1 
AndroidSurfaceHolder = 1
EGL_RED_SIZE=8
EGL_GREEN_SIZE=8
EGL_BLUE_SIZE=8

[S3E]
# Increase default stack size to prevent crashes when crashing on x86 debug
SysStackSize=65536
# One heap for normal use, one for just the terrain. If this is any larger, iOS crashes (ipad 1 and ipod 4th gen)
MemSize0=38000000 # 38MB
#MemSize0=400000000 # 400MB
#MemSize1=89080384 # 1024*1024 * 3 * (7 * 4) plus 1MB safety - that's 3 terrain size * size of Vertex
MemSize1=27000000 # 512*512 * 3 * (7 * 4) plus 1MB safety - that's 3 terrain size * size of Vertex

MemSizeDebug=268435456 # 256MB
MemSizeDebugDevice=268435456 # 256MB

#MemRequiredToRunApp=50000000

AccelDampingFactor=30

SoundStereo = 1 # Allow use of stereo mixing and output if supported by device

AndroidFileUseSdcard = 1 # Write configs etc to SD card if possible

DispFixRot=Landscape

SysGlesDirectory=pvr3
SysGlesVersion=1

SysGlesDirectory=angle
SysGlesVersion=2

IOSDispScaleFactor=native

#FileUseCase=1

###{OS=WINDOWS}
##WinFullScreen=1 # Full screen on windows
WinResizable=1
#WinWidth=800
#WinHeight=600
#WinPosX=0
#WinPosY=0

[UTIL]
MemMgrMaxAllocWarning=0

[InAppBilling]
#WindowsStoreUnsafeErrorProbe=1
#Win8BillingSimulateModeConfig="trial-mode.xml"
#{OS=WS8}
#Win8BillingSimulateModeConfig="trial-mode-80.xml"
#{OS=WP8}
#Win8BillingSimulateModeConfig="trial-mode-wp80.xml"
#{}

[GX]
DataCacheSize=655360
VertCacheSize=8192
Rasterisation=HW
Transform=HW

[GXFONT]
CacheTextureMaxSize=1024

#[RESMANAGER]
#ResBuild=0

[PICASIM]
EnablePVRVFrame=0

[TRACE]
PICASIM_VERBOSE=0
JOYSTICK_VERBOSE=0
GAMEPAD_VERBOSE=0
GL=1
GL_VERBOSE=1
GX_FONT=1
GX_VERBOSE=1

IW_GL_VERBOSE=0
IW_GL_API=0
IW_TRACE_CHANNEL_WINDOWSSTOREBILLING_VERBOSE=2
