<?xml version="1.0" ?>
<GameSettings mVersion="2"
 />
<Options mVersion="3"
 mFrameworkSettings.mPhysicsSubsteps="7"
 mFrameworkSettings.mUseMultiLights="1"
 mMaxNearClipDistance="1"
 mSeparateSpecular="1"
 mFrameworkSettings.mFarClipPlaneDistance="50000"
 mLanguage="0"
 mVolumeScale="1"
 mVariometerVolume="1"
 mWindVolume="1"
 mOutsideAeroplaneVolume="1"
 mInsideAeroplaneVolume="0.3"
 mGroundViewAutoZoom="0.5"
 mGroundViewAutoZoomScale="0.4"
 mGroundViewFieldOfView="70"
 mGroundViewHorizonAmount="0.6"
 mGroundViewLag="0.1"
 mGroundViewYawOffset="0"
 mGroundViewPitchOffset="0"
 mGroundViewFollow="1"
 mAeroplaneViewFieldOfView="75"
 mEnableZoomView="1"
 mOnlyPlaneInZoomView="0"
 mSmokeOnlyInMainView="1"
 mZoomViewSize="0.2"
 mEnableStereoscopy="0"
 mStereoSeparation="0.1"
 mWindArrowSize="0.12"
 mFreeFlightDisplayTime="1"
 mFreeFlightDisplaySpeed="1"
 mFreeFlightDisplayAirSpeed="0"
 mFreeFlightDisplayMaxSpeed="0"
 mFreeFlightDisplayAscentRate="1"
 mFreeFlightDisplayAltitude="1"
 mFreeFlightDisplayDistance="0"
 mFreeFlightColourText="1"
 mFreeFlightTextAtTop="1"
 mFreeFlightTextBackgroundOpacity="0"
 mFreeFlightTextBackgroundColour="1"
 mFreeFlightUnits="0"
 mFreeFlightMaxAI="4"
 mDisplayFPS="0"
 mRaceVibrationAmount="0.5"
 mLimboDifficultyMultiplier="1"
 mRaceBeepVolume="0.1"
 mEnableScoreloop="0"
 mWindsockOpacity="128"
 mPauseButtonsSize="0.35"
 mPauseButtonOpacity="128"
 mControllerMode="1"
 mControllerBrakesForward="1"
 mControllerSize="0.6"
 mControllerUseAbsolutePosition="0"
 mControllerSquare="1"
 mControllerHorOffset="0.2"
 mControllerVerOffset="0.5"
 mJoystickID="0"
 mControllerStaggered="0"
 mControllerStyle="0"
 mControllerAlpha="255"
 mControllerStickAlpha="128"
 mControllerStickCross="0"
 mControllerEnableTrim="0"
 mControllerTrimSize="0.05"
 mGroundViewUpdateTerrainLOD="0"
 mGroundViewTerrainLOD="350"
 mAeroplaneViewTerrainLOD="350"
 m16BitTextures="0"
 mFreeFlyMode="2"
 mFreeFlyOnStartup="0"
 mSetWindDirectionOnWalkabout="1"
 mUseBackButtonToExit="0"
 mEnableWalkabout="0"
 mEnableObjectEditing="0"
 mUseAeroplanePreferredController="1"
 mTerrainWireframe="0"
 mDrawAeroplaneCoM="0"
 mDrawSunPosition="0"
 mControlledPlaneShadows="2"
 mOtherShadows="2"
 mProjectedShadowDetail="9"
 mDrawLaunchMarker="1"
 mDrawGroundPosition="0"
 mSkyGridOverlay="0"
 mSkyGridAlignment="0"
 mSkyGridDistance="150"
 mMaxMarkersPerThermal="3"
 mDrawThermalWindField="0"
 mGraphDuration="120"
 mGraphFPS="0"
 mGraphAltitude="0"
 mGraphAirSpeed="0"
 mGraphGroundSpeed="0"
 mGraphClimbRate="0"
 mGraphWindSpeed="0"
 mGraphWindVerticalVelocity="0"
 mNumWindStreamers="0"
 mWindStreamerTime="15"
 mWindStreamerDeltaZ="2.5"
 mStallMarkers="0"
 mTimeScale="1"
 mAerofoilInfo="-1"
 mAerofoilPlotAngleRange="90"
 mAerofoilPlotCLMax="2"
 mAerofoilPlotCDMax="1.5"
 mAerofoilPlotCMMax="0.5"
 mAerofoilPlotLDMax="50"
 mAerofoilPlotReference="1"
 mAerofoilPlotPolar="0"
 mRenderPreference="1"
 mAmbientLightingScale="1"
 mDiffuseLightingScale="1"
 mBasicTextureDetail="10"
 mMaxSkyboxDetail="2"
 mEnableSmoke="1"
 mSmokeQuality="1.5"
 />
<AeroplaneSettings mVersion="2"
 mAvailability="0"
 mType="5"
 mAIType="0"
 mName="SystemData/Aeroplanes/Trainer"
 mThumbnail="SystemSettings/Thumbnails/Trainer.jpg"
 mTitle="Trainer glider"
 mInfo="Two metre span glider with rudder and elevator controls - ideal for learning to fly."
 mWWW=""
 mPreferredController="SystemSettings/Controller/SingleStick.xml"
 mShowButton_0="0"
 mShowButton_1="0"
 mExtraMassPerCent="0"
 mExtraMassOffset.x="0"
 mExtraMassOffset.y="0"
 mExtraMassOffset.z="0"
 mColourScheme="0"
 mColourOffset="0"
 mRelaunchWhenStationary="1"
 mCrashDeltaVel.x="5"
 mCrashDeltaVel.y="5"
 mCrashDeltaVel.z="10"
 mCrashDeltaAngVel.x="500"
 mCrashDeltaAngVel.y="500"
 mCrashDeltaAngVel.z="500"
 mCrashSuspensionForceScale="1"
 mDragScale="1"
 mSizeScale="1"
 mMassScale="1"
 mEngineScale="1"
 mLaunchSpeed="6"
 mLaunchAngleUp="-5"
 mLaunchUp="1"
 mLaunchForwards="1"
 mLaunchLeft="-1"
 mLaunchOffsetUp="0"
 mBellyHookOffset.x="0"
 mBellyHookOffset.y="0"
 mBellyHookOffset.z="0"
 mNoseHookOffset.x="0"
 mNoseHookOffset.y="0"
 mNoseHookOffset.z="0"
 mTailHookOffset.x="0"
 mTailHookOffset.y="0"
 mTailHookOffset.z="0"
 mFlatLaunchMethod="1"
 mMaxBungeeLength="140"
 mMaxBungeeAcceleration="25"
 mTugName="SystemSettings/Aeroplane/Jackdaw.xml"
 mTugSizeScale="1"
 mTugMassScale="1"
 mTugEngineScale="1"
 mTugMaxClimbSlope="0.05"
 mAeroTowRopeLength="20"
 mAeroTowRopeStrength="2"
 mAeroTowRopeMassScale="1"
 mAeroTowRopeDragScale="1"
 mAeroTowHeight="100"
 mAeroTowCircuitSize="100"
 mTugTargetSpeed="10"
 mHasVariometer="1"
 mTetherLines="0"
 mTetherRequiresTension="1"
 mTetherColour.x="1"
 mTetherColour.y="1"
 mTetherColour.z="1"
 mTetherColour.w="0.2"
 mTetherPhysicsOffset.x="0"
 mTetherPhysicsOffset.y="0"
 mTetherPhysicsOffset.z="0"
 mTetherVisualOffset.x="0"
 mTetherVisualOffset.y="0"
 mTetherVisualOffset.z="0"
 mTetherDistanceLeft="20"
 mCameraTargetPosFwd="0"
 mCameraTargetPosUp="0"
 mChaseCamDistance="2"
 mChaseCamHeight="0.5"
 mChaseCamVerticalVelMult="0.5"
 mChaseCamFlexibility="0.9"
 mCockpitCamPitch="0"
 />
<SmokeSource_0 mEnable="0"
 mOffsetX="0"
 mOffsetY="0"
 mOffsetZ="0"
 mVelX="0"
 mVelY="0"
 mVelZ="-2"
 mColourX="1"
 mColourY="1"
 mColourZ="1"
 mChannelForAlpha="10"
 mChannelForRate="10"
 mMaxParticles="10000"
 mMinRate="-60"
 mMaxRate="60"
 mMinAlpha="-0.3"
 mMaxAlpha="0.3"
 mInitialSize="0.1"
 mFinalSize="5"
 mLifetime="4"
 mDampingTime="0.1"
 mVelJitter="0.1"
 mEngineWash="0.7"
 mHueCycleFreq="0"
 />
<SmokeSource_1 mEnable="0"
 mOffsetX="0"
 mOffsetY="0"
 mOffsetZ="0"
 mVelX="0"
 mVelY="0"
 mVelZ="-2"
 mColourX="1"
 mColourY="1"
 mColourZ="1"
 mChannelForAlpha="10"
 mChannelForRate="10"
 mMaxParticles="10000"
 mMinRate="-60"
 mMaxRate="60"
 mMinAlpha="-0.3"
 mMaxAlpha="0.3"
 mInitialSize="0.1"
 mFinalSize="5"
 mLifetime="4"
 mDampingTime="0.1"
 mVelJitter="0.1"
 mEngineWash="0.7"
 mHueCycleFreq="0"
 />
<SmokeSource_2 mEnable="0"
 mOffsetX="0"
 mOffsetY="0"
 mOffsetZ="0"
 mVelX="0"
 mVelY="0"
 mVelZ="-2"
 mColourX="1"
 mColourY="1"
 mColourZ="1"
 mChannelForAlpha="10"
 mChannelForRate="10"
 mMaxParticles="10000"
 mMinRate="-60"
 mMaxRate="60"
 mMinAlpha="-0.3"
 mMaxAlpha="0.3"
 mInitialSize="0.1"
 mFinalSize="5"
 mLifetime="4"
 mDampingTime="0.1"
 mVelJitter="0.1"
 mEngineWash="0.7"
 mHueCycleFreq="0"
 />
<AIAeroplaneSettings mVersion="2"
 mAllowAIControl="0"
 mCanTow="0"
 mWaypointTolerance="10"
 mControlMaxBankAngle="70"
 mControlBankAnglePerHeadingChange="0.5"
 mControlPitchControlPerRollAngle="0.01"
 mControlMaxPitchControl="1"
 mControlMaxRollControl="1"
 mControlRollControlPerRollAngle="0.01"
 mControlRollTimeScale="0.1"
 mControlPitchTimeScale="0.05"
 mGliderControlMinSpeed="10"
 mGliderControlCruiseSpeed="15"
 mGliderControlSpeedPerAltitudeChange="1"
 mGliderControlSlopePerExcessSpeed="0.05"
 mGliderControlHeadingChangeForNoSlope="90"
 mGliderControlPitchControlPerGlideSlope="1"
 mGliderControlMinAltitude="15"
 mPoweredControlMaxSlopeDown="0.1"
 mPoweredControlMaxSlopeUp="0.05"
 mPoweredControlPitchControlPerSlope="10"
 mPoweredControlThrottleControlPerAltitude="0.05"
 mPoweredControlThrottleControlPerSpeed="0.1"
 mPoweredControlCruiseSpeed="10"
 mPoweredTakeoffDistance="50"
 mPoweredMaxWaypointTime="20"
 mPoweredMaxDistance="150"
 mPoweredMinHeight="10"
 mPoweredMaxHeight="50"
 mPoweredAltitudeForAux="10000"
 mSlopeMinUpwindDistance="17"
 mSlopeMaxUpwindDistance="40"
 mSlopeMinLeftDistance="-100"
 mSlopeMaxLeftDistance="100"
 mSlopeMinUpDistance="-10"
 mSlopeMaxUpDistance="20"
 mSlopeMaxWaypointTime="60"
 mFlatMaxDistance="150"
 mFlatMaxWaypointTime="60"
 />
<EnvironmentSettings mVersion="2"
 mAvailability="0"
 mType="25"
 mThumbnail="SystemSettings/Thumbnails/Hills.jpg"
 mTitle="Hills"
 mInfo="A hilly island - lots of lift on the steep slopes."
 mWWW=""
 mObjectsSettingsFile="SystemSettings/Objects/None.xml"
 mWindSpeed="4"
 mObserverPosition.x="-209"
 mObserverPosition.y="264.5"
 mObserverPosition.z="2"
 mWindBearing="-90"
 mWindLiftSmoothing="4"
 mVerticalWindDecayDistance="50"
 mWindGustTime="60"
 mWindGustAmplitudeFraction="0"
 mWindGustBearingAmplitude="0"
 mSeparationTendency="1"
 mRotorTendency="1"
 mTurbulenceAmount="0"
 mSurfaceTurbulence="1"
 mShearTurbulence="1"
 mBoundaryLayerDepth="100"
 mDeadAirTurbulence="1"
 mAllowBungeeLaunch="0"
 mThermalDensity="10"
 mThermalRange="1000"
 mThermalAverageLifeSpan="300"
 mThermalAverageDepth="50"
 mThermalAverageCoreRadius="40"
 mThermalAverageDowndraftRadius="80"
 mThermalAverageUpdraftSpeed="3.5"
 mThermalAverageAscentRate="0.4"
 mThermalExpansionOverLifespan="2"
 mRunwayType="0"
 mRunwayPosition.x="0"
 mRunwayPosition.y="0"
 mRunwayPosition.z="0"
 mRunwayAngle="0"
 mRunwayLength="40"
 mRunwayWidth="15"
 />
<TerrainSettings mVersion="2"
 mType="0"
 mRenderPlain="1"
 mCollideWithPlain="0"
 mPlainInnerRadius="5000"
 mPlainFogDistance="20000"
 mPlainHeight="25"
 mHeightmapDetail="8"
 mTerrainSize="2560"
 mCoastEnhancement="4"
 mSimplifyUnderPlain="1"
 mSurfaceRoughness="0"
 mFriction="1"
 mTerrainTextureScaleX="2"
 mTerrainTextureScaleY="2"
 mTerrainDetailTextureScaleX="60"
 mTerrainDetailTextureScaleY="60"
 mPlainDetailTextureScaleX="20"
 mPlainDetailTextureScaleY="60"
 mBeachColourR="0.592157"
 mBeachColourG="0.478431"
 mBeachColourB="0.345098"
 mPlainColourR="0.439216"
 mPlainColourG="0.6"
 mPlainColourB="0.8"
 mBasicTexture="SystemData/Textures/TerrainTexture.jpg"
 mDetailTexture="SystemData/Textures/CloudTexture.jpg"
 mMidpointDisplacementHeight="90"
 mMidpointDisplacementRoughness="0.95"
 mMidpointDisplacementEdgeHeight="-30"
 mMidpointDisplacementUpwardsBias="0.4"
 mMidpointDisplacementFilterIterations="1"
 mMidpointDisplacementSeed="300"
 mRidgeHeight="100"
 mRidgeMaxHeightFraction="0.6"
 mRidgeWidth="100"
 mRidgeEdgeHeight="20"
 mRidgeHorizontalVariation="10"
 mRidgeHorizontalVariationWavelength="500"
 mRidgeVerticalVariationFraction="0.2"
 mPanoramaName="SystemData/Panoramas/Slope1"
 mFileTerrainName="SystemData/FileTerrains/PicaSim"
 mFileTerrainMinZ="-46"
 mFileTerrainMaxZ="133"
 />
<AIEnvironmentSettings mSceneType="1"
 />
<Objects mVersion="3"
 numBoxes="0"
 mForceAllVisible="0"
 />
<AIControllers mVersion="2"
 mEnableDebugDraw="0"
 mIncludeInCameraViews="0"
 mCreateMaxNumControllers="0"
 mRandomColourOffset="0"
 mLaunchDirection="-1"
 mLaunchSeparationDistance="4"
 numAIControllers="0"
 />
<ControllerSettings mVersion="3"
 mControllerStickDecayTime="0.1"
 mControllerAccelerometerOffsetAngle="30"
 mControllerAccelerometerXSensitivity="0.5"
 mControllerAccelerometerYSensitivity="0.5"
 mResetAltSettingOnLaunch="0"
 mTreatThrottleAsBrakes="0"
 mNumAltSettings="1"
 mCurrentAltSetting="0"
 mControlPerChannel_0="0"
 mControlPerChannel_1="1"
 mControlPerChannel_2="12"
 mControlPerChannel_3="8"
 mControlPerChannel_4="12"
 mControlPerChannel_5="12"
 mControlPerChannel_6="12"
 mControlPerChannel_7="12"
 mControlPerChannel_8="12"
 mControlPerChannel_9="12"
 ButtonName_0="Button 1"
 ButtonName_1="Button 2"
 ButtonName_2="Button 3"
 />
<ControllerControlSettings_0_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_0_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_0_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_1_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_1_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_1_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_2_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_2_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_2_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_3_0 mClamp="0"
 mAutoCentre="1"
 mScale="2"
 mExponential="1"
 mTrim="-1"
 />
<ControllerControlSettings_3_1 mClamp="0"
 mAutoCentre="1"
 mScale="2"
 mExponential="1"
 mTrim="-1"
 />
<ControllerControlSettings_3_2 mClamp="0"
 mAutoCentre="1"
 mScale="2"
 mExponential="1"
 mTrim="-1"
 />
<ControllerControlSettings_4_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_4_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_4_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_5_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_5_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_5_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_6_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_6_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_6_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_7_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_7_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_7_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_8_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="-1"
 />
<ControllerControlSettings_8_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="-1"
 />
<ControllerControlSettings_8_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="-1"
 />
<ControllerControlSettings_9_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_9_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_9_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_10_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_10_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_10_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_11_0 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_11_1 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<ControllerControlSettings_11_2 mClamp="0"
 mAutoCentre="1"
 mScale="1"
 mExponential="1"
 mTrim="0"
 />
<AltSettingName_0 name="Control 0"
 mix.mMixElevatorToFlaps_0="0"
 mix.mMixAileronToRudder_0="0"
 mix.mMixFlapsToElevator_0="0"
 mix.mMixBrakesToElevator_0="0"
 mix.mMixRudderToElevator_0="0"
 mix.mMixRudderToAileron_0="0"
 />
<AltSettingName_1 name="Control 1"
 mix.mMixElevatorToFlaps_1="0"
 mix.mMixAileronToRudder_1="0"
 mix.mMixFlapsToElevator_1="0"
 mix.mMixBrakesToElevator_1="0"
 mix.mMixRudderToElevator_1="0"
 mix.mMixRudderToAileron_1="0"
 />
<AltSettingName_2 name="Control 2"
 mix.mMixElevatorToFlaps_2="0"
 mix.mMixAileronToRudder_2="0"
 mix.mMixFlapsToElevator_2="0"
 mix.mMixBrakesToElevator_2="0"
 mix.mMixRudderToElevator_2="0"
 mix.mMixRudderToAileron_2="0"
 />
<JoystickSettings mVersion="3"
 mEnableJoystick="0"
 mAdjustForCircularSticks="0"
 JoystickAnalogue0="12"
 JoystickAnalogueScalePositive0="1"
 JoystickAnalogueScaleNegative0="1"
 JoystickAnalogueOffset0="0"
 JoystickAnalogueDeadZone0="0"
 JoystickAButton0="0"
 JoystickAnalogue1="12"
 JoystickAnalogueScalePositive1="1"
 JoystickAnalogueScaleNegative1="1"
 JoystickAnalogueOffset1="0"
 JoystickAnalogueDeadZone1="0"
 JoystickAButton1="0"
 JoystickAnalogue2="12"
 JoystickAnalogueScalePositive2="1"
 JoystickAnalogueScaleNegative2="1"
 JoystickAnalogueOffset2="0"
 JoystickAnalogueDeadZone2="0"
 JoystickAButton2="0"
 JoystickAnalogue3="12"
 JoystickAnalogueScalePositive3="1"
 JoystickAnalogueScaleNegative3="1"
 JoystickAnalogueOffset3="0"
 JoystickAnalogueDeadZone3="0"
 JoystickAButton3="0"
 JoystickAnalogue4="12"
 JoystickAnalogueScalePositive4="1"
 JoystickAnalogueScaleNegative4="1"
 JoystickAnalogueOffset4="0"
 JoystickAnalogueDeadZone4="0"
 JoystickAButton4="0"
 JoystickAnalogue5="12"
 JoystickAnalogueScalePositive5="1"
 JoystickAnalogueScaleNegative5="1"
 JoystickAnalogueOffset5="0"
 JoystickAnalogueDeadZone5="0"
 JoystickAButton5="0"
 JoystickAnalogue6="12"
 JoystickAnalogueScalePositive6="1"
 JoystickAnalogueScaleNegative6="1"
 JoystickAnalogueOffset6="0"
 JoystickAnalogueDeadZone6="0"
 JoystickAButton6="0"
 JoystickAnalogue7="12"
 JoystickAnalogueScalePositive7="1"
 JoystickAnalogueScaleNegative7="1"
 JoystickAnalogueOffset7="0"
 JoystickAnalogueDeadZone7="0"
 JoystickAButton7="0"
 JoystickButton0="0"
 JoystickButton1="0"
 JoystickButton2="0"
 JoystickButton3="0"
 JoystickButton4="0"
 JoystickButton5="0"
 JoystickButton6="0"
 JoystickButton7="0"
 JoystickButton8="0"
 JoystickButton9="0"
 JoystickButton10="0"
 JoystickButton11="0"
 JoystickButton12="0"
 JoystickButton13="0"
 JoystickButton14="0"
 JoystickButton15="0"
 JoystickButton16="0"
 JoystickButton17="0"
 JoystickButton18="0"
 JoystickButton19="0"
 JoystickButton20="0"
 JoystickButton21="0"
 JoystickButton22="0"
 JoystickButton23="0"
 JoystickButton24="0"
 JoystickButton25="0"
 JoystickButton26="0"
 JoystickButton27="0"
 JoystickButton28="0"
 JoystickButton29="0"
 JoystickButton30="0"
 JoystickButton31="0"
 />
<ChallengeSettings />
<LightingSettings mVersion="2"
 mSkyboxName="SystemData/Skyboxes/CloudyDaytime"
 mThumbnail="SystemSettings/Thumbnails/CloudyDaytime.jpg"
 mTitle="Cloudy daytime"
 mInfo=""
 mSunBearingOffset="90"
 mThermalActivity="0.7"
 mGamma="1"
 />
<Statistics mVersion="2"
 mPicaSimSettingsVersion="27"
 mPicaSimBuildNumber="11085"
 mSmoothedFPS="0"
 mNumDepthBits="24"
 mAppType="2"
 mIsAmazon="0"
 mIsInTrialMode="0"
 mMaxFlightTime="0"
 mTotalFlightTime="0"
 mLoadCounter="0"
 mLoadedAeroplane="0"
 mLoadedTerrain="0"
 mLoadedOptions="1"
 mLastScoreloopUsername="Fetching username"
 />
<HighScores />
